.construction {
  .container {
    display: flex;
    margin: 26px auto;
  }
}

.construction__title {
  margin: 0;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}
