.construction {
  background-color: #f2f2f2;

  .container {
    display: flex;
    margin: 0 auto;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.construction-white {
  background-color: #ffffff;
}

.construction__title {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  font-weight: normal;
}
