.main-footer {
  background-color: $basic-gray;

  .container {
    padding-top: 40px;

    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
    }
  }
}

.main-footer__logo {
  display: block;
  margin: 0 auto 40px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.main-footer__social-list {
  @include list-reset;
  width: max-content;
  margin: 0 auto;
  display: flex;
  gap: 24px;
}

.main-footer__developer-link {
  display: inline-flex;
  box-sizing: border-box;
  width: 280px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  text-decoration: none;
  padding: 7px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: auto;
  }
}

.developer-logo {
  margin-left: 135px;

  @media (min-width: $tablet-width) {
    margin-left: 23px;
  }
}
