.main__header {
  background-color: #ffffff;

  .container {
    display: flex;
  }
}

.header__logo-text {
  margin-top: 10px;
  margin-left: 56px;
}

@media (min-width: $tablet-width) {
  .main__header {
    .header__logo-wrapper {
      display: flex;
      align-content: baseline;
    }

    .header__logo-text {
      margin-left: 13px;
    }

    .header__main-nav {
      margin-left: 94px;
      margin-top: 7px;
    }
  }
}
