.product-cards {
  border-top: 2px solid #d9d9d9;

  .container {
    margin-top: 27px;
  }

  @media (min-width: $tablet-width) {
    border-top: none;
    margin-top: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 74px;
  }
}

.product-cards__cards-list {
  @include list-reset;
  margin-top: 41px;
  display: flex;
  flex-direction: column;
  gap: 45px;
  font-size: 16px;
  line-height: 20px;
  color: #222222;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    margin-top: 84px;
  }
}


.product-cards__cards-item:not(:last-child) {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 51px 72px 40px;
  grid-template-areas:
    "product title"
    "product description"
    "button button";

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 125px);
    grid-template-areas:
      "product product"
      "product product"
      "title title"
      "title title"
      "description description"
      "description description"
      "button button";
  }

  @media (min-width: $desktop-width) {
    max-width: 245px;
    box-sizing: border-box;
  }
}

.cards-item__card-title {
  grid-area: title;
  margin: 0;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    text-align: center;
    margin-top: 41px;
  }

  @media (min-width: $desktop-width) {
    width: 55%;
    margin: 41px auto 0;
  }
}

.cards-item__card-image {
  grid-area: product;
  margin: 0 auto;
}

.cards-item__description-list {
  grid-area: description;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 75%;
    margin: 20px auto 0;
  }
}

.cards-item__button {
  grid-area: button;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 75%;
    padding: 10px 53px;
    margin: 32px auto 0;
  }
}

.description-list__container-item {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    :not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.description-list__term,
.description-list__definition,
.cards-item__card-description {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.card-more {
  @media (min-width: $desktop-width) {
    width: 245px;
    box-sizing: border-box;
  }

  .cards-item__card-title {
    @media (min-width: $tablet-width) {
      margin-top: 160px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 205px;
    }
  }

  .cards-item__card-description {
    @media (min-width: $tablet-width) {
      text-align: center;
      margin-top: 23px;
    }

    @media (min-width: $desktop-width) {
      width: 169px;
      margin-top: 26px;
      margin-bottom: 0;
    }
  }

  .button--secondary {
    @media (min-width: $tablet-width) {
      margin-top: 82px;
    }

    @media (min-width: $desktop-width) {
      padding: 10px 28px;
      margin-top: 47px;
    }
  }
}
