.program-select {
  margin-top: 27px;

  @media (min-width: $tablet-width) {
    margin-top: 65px;
  }
}

.form__description {
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 323px;
  }
}

.form__feild-list,
.form-target__field-list,
.form-owner__field-list,
.form-extra__field-list {
  @include list-reset;
}

.form__feild-list {
  margin-top: 39px;

  @media (min-width: $tablet-width) {
    margin-top: 66px;
  }
}

.form-target__field-list {
  margin-top: 46px;

  @media (min-width: $tablet-width) {
    margin-top: 72px;
  }
}

.form-owner__field-list {
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    margin-top: 76px;
  }
}

.form__field-item,
.form-target__field-item,
.form-owner__field-item,
.form-extra__field-item {
  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.form-extra__field-item:last-child {
  margin-bottom: 34px;
}

.field-container__description,
.field-container__radio-description,
.field-container__check-description {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: initial;
  }
}

.form-owner {
  margin-top: 26px;

  .form-owner__title {
    font-size: 24px;
    line-height: 26px;
    padding: 0;

    @media (min-width: $tablet-width) {
      font-size: 36px;
      line-height: 36px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 65px;
  }
}

.form-comment {
  .form-comment__title {
    font-size: 24px;
    line-height: 26px;
    padding-top: 24px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 65px;
  }
}

.form-comment__comment {
  margin-top: 38px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 87px auto 0;
    width: 628px;
  }
}

.form-extra {
  margin-top: 23px;

  .form-extra__title {
    font-size: 24px;
    line-height: 26px;
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    margin-top: 65px;
  }
}

.form-extra__field-list {
  margin-top: 34px;

  @media (min-width: $tablet-width) {
    margin-top: 57px;
  }
}

.form__send {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
  }
}

.send__button {
  @media (min-width: $tablet-width) {
    width: 284px;
    height: fit-content;
    font-size: 20px;
    line-height: 26px;
    padding: 14px 48px;
    margin: 0;
  }
}

.send__footnote {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-left: 60px;
    font-size: 16px;
  }
}
