.program-select {
  margin-top: 27px;

  @media (min-width: $tablet-width) {
    margin-top: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 74px;
    margin-bottom: 79px;
  }
}

.form__main-form-container {
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 80px;
    width: 100%;
  }
}

.form__description {
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 323px;
  }
}

.form__feild-list,
.form-target__field-list,
.form-owner__field-list,
.form-extra__field-list {
  @include list-reset;
}

.form__feild-list {
  margin-top: 39px;

  @media (min-width: $tablet-width) {
    margin-top: 66px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    margin: 0;
  }
}

.form__field-container {
  display: flex;
  white-space: nowrap;
  align-items: center;
}

.field-container__description {
  max-width: 50%;
  margin-right: 15px;
}

.field-container__input {
  width: 100%;
  padding: 14px 15px;
  white-space: nowrap;
}

.form-target__field-list {
  margin-top: 46px;

  @media (min-width: $tablet-width) {
    margin-top: 72px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    margin: 0;
    padding: 25px 0 25px 28px;
    border: 1px solid #e7e7e7;
  }
}

.form-owner__field-list {
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    margin-top: 76px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 81px;
  }
}

.form__field-item,
.form-target__field-item,
.form-owner__field-item,
.form-extra__field-item {
  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.form-owner__field-item {
  @media (min-width: $desktop-width) {
    width: 45.5%;
  }
}

.form-extra__field-item:last-child {
  margin-bottom: 34px;
}

.field-container__description,
.field-container__radio-description,
.field-container__check-description {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: initial;
  }
}

.field-container__radio-description,
.field-container__check-description {
  margin-left: 45px;
}

.form-owner {
  margin-top: 26px;

  .form-owner__title {
    font-size: 24px;
    line-height: 26px;
    padding: 0;

    @media (min-width: $tablet-width) {
      font-size: 36px;
      line-height: 36px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 65px;
  }
}

.form-comment {
  .form-comment__title {
    font-size: 24px;
    line-height: 26px;
    padding-top: 24px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 65px;
  }
}

.form-comment__comment {
  margin-top: 38px;
  text-transform: uppercase;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin: 87px auto 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 78px;
  }
}

.form-extra {
  margin-top: 23px;

  .form-extra__title {
    font-size: 24px;
    line-height: 26px;
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    margin-top: 65px;
  }
}

.form-extra__field-list {
  margin-top: 34px;

  @media (min-width: $tablet-width) {
    margin-top: 57px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 100%;
  }
}

.form-extra__field-item {
  @media (min-width: $desktop-width) {
    width: 25%;
  }
}

.form__send {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    gap: 80px;
  }
}

.send__button {
  @media (min-width: $tablet-width) {
    width: 284px;
    height: fit-content;
    font-size: 20px;
    line-height: 26px;
    padding: 14px 48px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 45%;
  }
}

.send__footnote {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-left: 60px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 52%;
    text-align: left;
    margin: 0;
    padding: 0;
  }
}
