.button {
  display: block;
  background-color: $basic-green;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 63px;
  margin: 0 auto;
  border: none;
}

.button:hover {
  background-color: $basic-green-2;
  cursor: pointer;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button--secondary {
  background-color: $basic-gray;
  color: $special-dark-grey;
}

.button--secondary:hover {
  background-color: $special-grey-2;
}

.button--secondary:active {
  color: rgba($color: $special-dark-grey, $alpha: 0.8);
}
