.container {
  padding: 0 20px;
  width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .container {
    padding: 0 30px;
    width: 768px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}
