body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    font-weight: normal;
  }
}

.description {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
